body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-width{
    width: 50%;
}
.top-section{
    display: flex;
    padding-left: 122px;
}
.top-section-left span{
    color: #f39c12 ;
}
.top-section-left h1 {
    font-size: 50px;
    color: gray;
    margin-top: 100px;
}
.top-section-left p {
    width: 80%;
    font-size: 18px;
    color: #8a8787;
    margin-bottom: 60px;
}
.button-style {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-image: linear-gradient(250deg,#f72e19, #fd9c62);
    padding: 17px 31px;
    border-radius: 34px;
    font-weight: 400;
    box-shadow: 1px 0px 15px #f39c12;
}
.top-section-right img {
    width: 90%;
}
.about-section{
    display: flex;
    background-image: url(images/shapes/7.png);
    height: 556px;
}
.about-sec-left{
     width: 55%;
}
.about-sec-left img {
    width: 42%;
    margin-left: 223px;
    margin-top: 63px;
}
.about-sec-right{
    width: 45%;
}
.about-sec-right h1 {
    font-size: 40px;
    color: gray;
    margin-top: 124px;
}
.about-sec-right p {
    width: 61%;
    color: #4f4747;
    margin-bottom: 90px;
}
.recipies-title{
    text-align: center;
}
.recipies-title h1 {
    font-size: 40px;
    color: gray;
    margin-top: 60px;
}
.recipies-title p {
    width: 50%;
    margin: auto;
    color: #514949;
}
.recipies{
    display: flex;
}
.recipies-box {
    width: 28%;
    margin: 57px 3%;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 23px 23px;
}
.recipies-box img{
    width: 100%;
}
.recipies-box h2{
    font-size: 26px;
    color: #3c3c3c;
}
.recipies-box p{
    font-weight: 400;
    color: #4a4a4a;
}
